<style type="text/css">
	.card{
		max-width: 700px;
		width: 100%;
	}
	.card-body{
		padding: 20px;
		width: 100%;
	}
</style>


<div class="container">
	<div class="row">
		<div class="card m-auto">
			<a href="">
				<img class="card-img-top" src="">
			</a>
			<div class="card-body mt-2 mb-2">
				<a href="">
					<h2 class="card-title"></h2>
				</a>
				<p class="card-text"></p>
				<p>
				</p>  
			</div>
			<div class="card-footer text-muted px-2 p-3">
			  Updated
			</div>
		</div>
	</div>
</div>