<style type="text/css">
	.card{
		max-width: 700px;
		width: 100%;
	}
	.card-body{
		padding: 20px;
		width: 100%;
	}
</style>

{% if blog_post %}
<div class="container">
	<div class="row">
		<!-- Blog Post -->
		<div class="card m-auto">
			<a href="{% url 'blog:detail' post.slug %}">
				<img class="card-img-top" src="{{blog_post.image.url}}">
			</a>
			<div class="card-body mt-2 mb-2">
				<a href="{% url 'blog:detail' post.slug %}">
					<h2 class="card-title">{{blog_post.title}}</h2>
				</a>
				<p class="card-text">{{blog_post.body|safe|truncatechars:250}}</p>
				<p>
				</p>  
			</div>
			<div class="card-footer text-muted px-2 p-3">
			  Updated on {{blog_post.date_updated}} by {{blog_post.author}}
			</div>

			<h2>Replies</h2>
			{% if not post.replies.all %}
				<a href="{% url 'blog:reply' post.slug %}">Add Reply</a>
				<br/>
			{% else %}

			<a href="{% url 'blog:reply' post.slug %}">Add Reply</a>

			<br/>
			
				{% for reply in post.replies.all %}
					<strong>
						{{ reply.name }} - 
						{{ reply.date_added }}
					</strong>
					<br/>
					{{ reply.body }}
					<br/>
					<hr>
				{% endfor %}
			{% endif %}

		</div>
	</div>
</div>

{% else %}

<div class="container">
	<div class="row">
		<div class="card m-auto">
			<div class="card-body mt-2 mb-2">
				<h2 class="card-title">No results</h2>
				<p class="card-text">There were no results matching the search: "{{query}}"</p>
			</div>
		</div>
	</div>
</div>

{% endif %}