{% extends "base.html" %}

{% block content %}

<style type="text/css">

	@media (max-width: 768px) { 
		.right-column{
			margin-left: 0px;
		}
	}

	@media (min-width: 768px) { 
		.right-column{
			margin-left: 20px;
		}
	}

	.blog-post-container{
		margin-bottom: 20px;
		width: 100%;
	}
	.create-post-bar{
		background-color: #fff;
		margin-bottom:20px;
	}

	.left-column{
		padding:0px;
	}

	.right-column{
		padding:0px;
	}
	.lead{
		font-size: 17px;
	}
	.img {
	  display: block;
	  max-width: 100%;
	  height: auto;
	}
	
</style>

<form action="/create_quiz/" method="post">
	{% csrf_token %}

	<h2>Create a Quiz</h2>
	<label for="quiz_name"> Name:  </label>
	<input id="quiz_name" type="text" name="quiz_name" maxlength="255" required>
	<label for="quiz_desc"> Description:  </label>
	<input id="quiz_desc" type="text" name="quiz_desc" maxlength="255" required>
	<label for="quiz_type"> Type:  </label>
	<input id="quiz_type" type="text" name="quiz_type" maxlength="255" required>

	<input type="submit"POST value="submit">

</form>











<!--
<h1>Create a New Quiz</h1>

<form method="post">
    <div class="mb-3">
    {% csrf_token %}
    {{ form.as_p }}
    

    {{ question_formset.management_form }}
    {% for form in question_formset.forms %}
      <div class="form-text">{{ form.as_table }}</div>

      {{ choice_formset.management_form }}
      {% for choice_form in form.choices.forms %}
        {{ choice_form.as_table }}
      {% endfor %}
    {% endfor %}

    <button type="button" class="btn btn-primary add-choice">Add Choice</button>
    <button type="submit" class="btn btn-primary">Create Quiz</button>
  </div>
</form>

  <script>
    // JavaScript to add new formsets for questions and choices
    document.getElementById('add-question').addEventListener('click', function () {
      const questionFormset = document.getElementById('id_question_set-TOTAL_FORMS');
      questionFormset.value = parseInt(questionFormset.value) + 1;
    });

    document.querySelectorAll('.add-choice').forEach(function (button) {
      button.addEventListener('click', function () {
        const choiceFormset = document.getElementById('id_question_set-0-choice_set-TOTAL_FORMS');
        choiceFormset.value = parseInt(choiceFormset.value) + 1;
      });
    });
  </script>

-->
{% endblock %}