{% extends 'base.html' %}

{% load static %}

{% block content %}

<style type="text/css">

	@media (max-width: 768px) { 
		.right-column{
			margin-left: 0px;
		}
	}

	@media (min-width: 768px) { 
		.right-column{
			margin-left: 20px;
		}
	}

	.blog-post-container{
		margin-bottom: 20px;
		width: 100%;
	}
	.create-post-bar{
		background-color: #fff;
		margin-bottom:20px;
	}

	.left-column{
		padding:0px;
	}

	.right-column{
		padding:0px;
	}
	.lead{
		font-size: 17px;
	}
	.img {
	  display: block;
	  max-width: 100%;
	  height: auto;
	}
	
</style>

<div class="card text-center p-3">
  <div class="card-body">
    <h2 class="card-title">Reading</h2>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Quizzes</h3>
          <p class="card-text">Take reading quizzes.</p>

          <ul>
            {% for quiz in quizzes %}
              {% if quiz.type == 'Reading' %}
              <li><a href="{% url 'start_quiz' quiz.id %}">{{ quiz.name }}</a></li>

			  {% for taker in quiz_takers %}
				{% if taker.user == user and taker.quiz == quiz %}
					<small> Taken attempts {{ taker.attempts }}  out of 3 </small>
				{% endif %}
			  {% endfor %}

              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6 mb-3 mb-sm-0">
		<div class="card">
		  <div class="card-body">
			{% if user.is_admin %}
			<h3> Admin Tools </h3>
			<h5 class="card-title"><a href="{% url 'create_quiz' %}">Create Quiz</a> </h5>
			{% else %}
			<h3> More functionality coming soon!</h3>
			{% endif %}
		  </div>
		</div>
	</div>
  </div>
</div>

{% endblock content %}