<!-- quiz/templates/quiz/start_quiz.html -->

{% extends "base.html" %}

{% block content %}

{% if taken == 1 %}
  <h1> You have already taken this quiz 3 times: {{ quiz.name }}</h1>
  <h1> <a class="btn btn-primary" href="{% url 'home' %}" role="button">Go Home</a> </h1>
{% else %}
  <h1>{{ quiz.name }}</h1>
  <form method="post" action="{% url 'submit_quiz' quiz.id %}">
    {% csrf_token %}
    {% for question in questions %}
      <fieldset>
        <legend>{{ question.text }}</legend>
        {% for choice in question.choice_set.all %}
          <label>
            <input type="radio" name="question_{{ question.id }}" value="{{ choice.id }}">
            {{ choice.text }}
          </label><br>
        {% endfor %}
      </fieldset>
    {% endfor %}
    <input type="submit" value="Submit">
  </form>
{% endif %}
{% endblock %}
