{% extends 'base.html' %}

{% load static %}

{% block content %}

<style type="text/css">

	.blog-post-container{
		margin-bottom: 20px;
		width: 100%;
	}
	.create-post-bar{
		background-color: #fff;
		margin-bottom:20px;
	}
  @media print {
      /* Adjust columns for printing */
      .col-lg-4 {
        width: 33.33% !important;
      }
    }

	.left-column{
		padding:0px;
	}

	.right-column{
		padding:0px;
	}
	.lead{
		font-size: 17px;
	}
	.img {
	  display: block;
	  max-width: 100%;
	  height: auto;
	}
  .custom-header {
    background-color: #D3D3D3;
    color: #000000;
	  box-shadow: 0 10px 10px rgba(3, 4, 4, 0.5);
    /* Other styles if needed */
  }
  .card{
    
    text-align: center;
    margin: auto;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-lg-4 p-2">
      <div class="card ">
        <div class="card-header custom-header">
          Math
        </div>
        <div class="card-body">
          <p class="card-text">Study math concepts and other made up stuff.</p>
          <p class="card-text"><a href="{% url 'math_page' %}" class="btn btn-primary">Learn More</a></p>
        </div>
      </div>
    </div>
      <br>
    <div class="col-lg-4 p-2">
      <div class="card ">
        <div class="card-header custom-header">
          Computer Science
        </div>
        <div class="card-body">
          <p class="card-text">Study computer science topics and much more.</p>
          <p class="card-text"><a href="{% url 'cs_page' %}" class="btn btn-primary">Learn More</a></p>
        </div>
    </div>
    </div>

    <br>
    <div class="col-lg-4 p-2">
      <div class="card ">
        <div class="card-header custom-header">
          Writing
        </div>
        <div class="card-body">
          <p class="card-text">Study Writing and stuff.</p>
          <p class="card-text"><a href="{% url 'ds_page' %}" class="btn btn-primary">Learn More</a></p>
        </div>
    </div>
    </div>
    <br>
    <div class="col-lg-4 p-2">
      <div class="card  mx-auto">
        <div class="card-header custom-header">
          Reading
        </div>
        <div class="card-body">
          <p class="card-text">Study reading and literature.</p>
          <p class="card-text"><a href="{% url 'reading_page' %}" class="btn btn-primary">Learn More</a></p>
        </div>
    </div>
    </div>



{% endblock content %}