{% extends 'base.html' %}

{% load static %}

{% block content %}

<style type="text/css">

	@media (max-width: 768px) { 
		.right-column{
			margin-left: 0px;
		}
	}

	@media (min-width: 768px) { 
		.right-column{
			margin-left: 20px;
		}
	}

	.blog-post-container{
		margin-bottom: 20px;
		width: 100%;
	}
	.create-post-bar{
		background-color: #fff;
		margin-bottom:20px;
	}

	.left-column{
		padding:0px;
	}

	.right-column{
		padding:0px;
	}
	.lead{
		font-size: 17px;
	}
	.img {
	  display: block;
	  max-width: 100%;
	  height: auto;
	}
	
</style>

<!-- main content -->
<div class="container">
	
	<div class="row">
        <div class="card mb-4 text-bg-secondary">
            <div class="card-body">
              <h3 class="card-title">Study various topics and take quizzes to further your understanding.</h3>
            </div>
        </div>
        <!--   Math Card    -->
        <div class="card mb-4">
            <div class="card-body">
              <h3 class="card-title">Math</h3>
              <p class="card-text">Study math concepts and other made up stuff.</p>
              <a href="{% url 'math_page' %}" class="btn btn-primary">Learn More</a>
            </div>
        </div>
        <!--   End Card    -->
        <!--   Computer Science Card    -->
        <div class="card mb-4">
            <div class="card-body">
              <h3 class="card-title">Computer Science</h3>
              <p class="card-text">Study computer science topics and much more.</p>
              <a href="{% url 'cs_page' %}" class="btn btn-primary">Learn More</a>
            </div>
        </div>
        <!--   End Card    -->
        <!--   Dark Souls Lore Card    -->
        <div class="card mb-4">
            <div class="card-body">
              <h3 class="card-title">Writing</h3>
              <p class="card-text">Study Writing and stuff.</p>
              <a href="{% url 'ds_page' %}" class="btn btn-primary">Learn More</a>
            </div>
        </div>
        <!--   End Card    -->
        <!--   Reading Card    -->
        <div class="card mb-4">
            <div class="card-body">
              <h3 class="card-title">Reading</h3>
              <p class="card-text">Study reading and literature.</p>
              <a href="{% url 'reading_page' %}" class="btn btn-primary">Learn More</a>
            </div>
        </div>
        <!--   End Card    -->

	</div>
</div>

{% endblock content %}