{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<a href="{% url 'scores' %}" class="btn btn-primary">Back</a>
<!-- Display search results -->
<h1>Score Search Results</h1>

<form action="{% url 'search_results3' %}" method="GET">
    <input type="text" name="query3" placeholder="Search..." value="{{ query3 }}">
    <button type="submit3">Search</button>
</form>

<p>Total results: {{ num_results }}</p>

<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
    {% for item in results %}
        <li class="list-group-item">{{ item.student.username }}: {{ item.subject }} <b>{{ item.percent }}</b></li>
    {% empty %}
        <li>No results found</li>
    {% endfor %}
    </ul>
</div>

{% endblock content %}