<style type="text/css">
	.footer{
		min-height: 100px;
	}
	.white-border {
    color: black; /* Set the main text color */
    text-shadow:
        -1px -1px 0 #fff, /* Top-left white shadow */
         1px -1px 0 #fff, /* Top-right white shadow */
        -1px 1px 0 #fff, /* Bottom-left white shadow */
         1px 1px 0 #fff; /* Bottom-right white shadow */
	}
</style>

<!-- <div class="d-flex flex-row align-items-center footer bg-white border-top shadow-lg"> -->
<div class="d-flex flex-row align-items-center footer shadow-lg">
	<p class="m-auto white-border">Developed by Cy D. Dixon | 2023</p>
</div>

