{% extends 'base.html' %}
{% load static %}
{% block content %}
 
<style type="text/css">
	.form-signin {
	max-width: 300px;
	padding: 1rem;
	}

	.form-signin .form-floating:focus-within {
	z-index: 2;
	}

	.form-signin input[type="email"] {
	margin-bottom: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	}

	.form-signin input[type="username"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	}

	.blog-posts{
		max-width: 300px;
		width: 85%;
		margin: auto;
	}

	div.container {
		text-align: center;
	}

</style>
 
<div class="container d-flex justify-content-center"> 
 
	<form class="form-signin" method="post">{% csrf_token %}
	<div class="d-flex flex-column pb-3">
		<img class="img-fluid mx-auto d-block" src="{% static 'jollyroger.png' %}" alt="site logo" width="72" heigth="72">
	</div>
			<h1 class="h3 mb-3 fw-normal">Account</h1>

			<input type="email" name="email" class="form-control" id="floatingInput" placeholder="Email" value="{{account_form.initial.email}}">

			<input type="text" name="username" class="form-control" id="inputUsername" placeholder="Username" value="{{account_form.initial.username}}">

			{% for field in account_form %}
				<p>
					{% for error in field.errors %}
						<p style="color: red;">{{error}}</p>
					{% endfor %}
				</p>
			{% endfor %}

			{% if account_form.non_field_errors %}
				<div style="color:red;">
					<p>{ account_form.non_field_errors}}</p>
				</div>
			{% endif %}

			{% if success_message %}
				<p style="color: green; text-align: center;">{{success_message}}</p>
			{% endif %}

			<button class="btn btn-primary w-40 py-2 form-control" type="submit">Save Changes</button>
	</form>

</div>

<div class="container d-flex flex-column pb-3">
      <h3 class="mb-10 p-3 d-flex font-weight-normal justify-content-center">Your posts</h3>
      {% if blog_posts %}
        <ul class="list-group mx-auto blog-posts wrapper">
        {% for post in blog_posts %}
          <a href="{% url 'blog:detail' post.slug %}" style="text-decoration: none;"><li class="list-group-item border-0">{{post.title}}</li></a>
        {% endfor %}
        </ul>
      {% else %}
        <p>You have no blog posts. Create a post <a href="{% url 'blog:create' %}">here</a>.</p>
      {% endif %}
</div>

<div class="container">
{% if user.is_admin %}
	<h3 class="mb-10 p-3 d-flex font-weight-normal justify-content-center">Students</h3>
		{% for account in accounts %}
				<div class="row">
					<div class="col">
						<div class="card">
							<h4 class="card-title">{{account.username}}</h4>
							<div class="card-body">
								{% for quiz_taker in quiz_takers %}
									{% if quiz_taker.user == account %}
										<a href="{% url 'scores' %}" class="btn btn-primary">{{quiz_taker.quiz.type}}: {{quiz_taker.quiz}}</a>
										<h6>scored a {{quiz_taker.quiz_score}}%</h6>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
		{% endfor %}

{% endif %}

{% if not user.is_admin %}
	<h3 class="mb-10 p-3 d-flex font-weight-normal justify-content-center">Quizes Taken</h3>
	{% for account in accounts %}
		{% if user.username == account.username %}
			<div class="row">
				<div class="col">
					<div class="card">
						<h4 class="card-title">{{account.username}}</h4>
						<div class="card-body">
							{% for quiz_taker in quiz_takers %}
								{% if quiz_taker.user == account %}
									<a href="{% url 'scores' %}" class="btn btn-primary">{{quiz_taker.quiz.type}}: {{quiz_taker.quiz}}</a>
									<h6>scored a {{quiz_taker.quiz_score}}%</h6>
								{% endif %}
							{% endfor %}
						</div>
						<small>click a quiz for more details</small>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}

{% endif %}
</div>
   
{% endblock content %}

