{% extends 'base.html' %}
{% load static %}
{% block content %}

<style type="text/css">
	.form-signin {
	text-align: center;
	max-width: 330px;
	padding: 1rem;
	}

	.form-signin .form-floating:focus-within {
	z-index: 2;
	}

	.form-signin input[type="email"] {
	margin-bottom: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	}

	.form-signin input[type="text"] {
	margin-bottom: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	}

	.form-signin input[type="password"] {
	margin-bottom: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	}

	.h3{
		text-align: center;
	}

</style>

<div class="container d-flex mx-auto justify-content-center"> 

	<form class="form-signin" method="post">{% csrf_token %}
		<div class="d-flex flex-column pb-3">
			<img class="img-fluid mx-auto d-block" src="{% static 'jollyroger.png' %}" alt="site logo" width="72" heigth="72">
		</div>

		<h1 class="h3 mb-3 fw-normal">Register</h1>

		<input type="email" name="email" class="form-control" id="floatingInput" placeholder="Email" autofocus>

		<input type="text" name="username" class="form-control" id="inputUsername" placeholder="Username">

		<input type="password" name="password1" class="form-control" id="inputPassword1" placeholder="Password" required>

		<input type="password" name="password2" class="form-control" id="inputPassword2" placeholder="Confirm Password" required>

		<input class="form-check-input" name="is_admin" type="checkbox" value="true" unchecked-value="false" id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">
			Teacher Account</label>

		{% for field in registration_form %}
			<p>
				{% for error in field.errors %}
					<p style="color: red;">{{error}}</p>
				{% endfor %}
			</p>
		{% endfor %}

		{% if registration_form.non_field_errors %}
			<div style="color:red;">
				<p>{{registration_form.non_field_errors}}</p>
			</div>
		{% endif %}

		<button class="btn btn-primary py-2 form-control" type="submit">Register</button>

	</form>

</div>

<script>
  export default {
    data() {
      return {
        status: 'not_accepted'
      }
    }
  }
</script>


{% endblock content %}