body {
    /* Set the background image */
    background-image: url('jollyroger.png');
    /* Set the background to repeat both horizontally and vertically */
    /*background-repeat: repeat;
    /* Optionally, set other background properties like position and size */
    /* background-position: center center; */
    /* background-size: cover; */
}